* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
}

html {
    scroll-behavior: smooth;
}

.square {
    width: 570px;
    height: 45px;
    margin-left: 460px;
    margin-top: 20px;
    border-radius: 45px; 
    padding-top: 10px;
    font-family: Arial;

    color: blue;
    background-color: #050505;
}

.h2 {
    margin-left: 10px;
    text-decoration: none;
}

.text {
    word-spacing: 10px;
    padding-left: 30px;
}

#hover1 a {
    text-decoration: none;
}#hover2 a {
    text-decoration: none;
}#hover3 a {
    text-decoration: none;
}#hover4 a {
    text-decoration: none;
}#hover5 a {
    text-decoration: none;
}

#hover1 a:visited {
    color: blue;
}

#hover1 a:hover {
    color: white;
}

#hover2 a:visited {
    color: blue;
}

#hover2 a:hover{
    color: white;
}

#hover3 a:visited {
    color: #ECFF75;
}

#hover4 a:visited {
    color: black;
}

#hover4 a:hover {
    color: white;
}

#hover5 a:visited {
    color: blue;
}

#hover5 a:hover {
    color: #1256c4;
}

.test {
    color: white;
}

.circle {
    position: absolute;
    width: 1536px;
    height: 1570px;
    border-radius: 24px;

    background-color: #1F71EB;
}

.border {
position: absolute;
width: 1536px;
height: 2500px;
margin-top: 22px;
z-index: -5;
background: linear-gradient(#ffffff, #d5deeb, #b4c3db, #71b6c9, #3ea9c7, #0da9d4);
}

.wie {
position: absolute;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 24px;
line-height: 145px;
padding-left: 150px;
top: -15px;

color: #5798c9 !important;
}

.container{
    margin: 0px;
}

.parra {
    position: absolute;
    margin-top: 75px;
    margin-left: 150px;
    font-size: 20px;
    font-family: Arial;

    color: #6d83a6;
}

.mens {
    width: 400px;
    height: 580px;
    margin-left: 150px;
    margin-top: 300px;
    border-radius: 10px;
}

.bridge {
    width: 330px;
    height: 220px;
    margin-left: 15px;
    margin-bottom: 360px;
    border-radius: 10px;
}

.san {
    width: 330px;
    height: 340px;
    margin-left: -334px;
    margin-bottom: 0px;
    border-radius: 10px;
}

.vegas {
    width: 350px;
    height: 250px;
    margin-left: 110px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.zion {
    position: absolute;
    width: 500px;
    height: 230px;
    margin-top: 300px;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.balk {
    margin-top: 1000px;

    width: 1536px;
    height: 350px;
}

#contact {
    position: absolute;
    width: 145px;
    height: 34px;
    margin-top: 170px;
    margin-left: 700px;
    font-family: Arial;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 35px;

    color: #000000;
}

.hey {
    position: absolute;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    margin-top: 220px;
    margin-left: 610px;
}

/*mijn github account koppelen aan portfolio*/
.github {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

    border-radius: 20px;
}

/*opmaak van mijn projecten*/
.white {
    width: 600px;
    height: 360px;
    margin-top: 200px;
    margin-left: 475px;

    border-radius: 15px; 
    background-color: #c5f0ef;
}

.project {
    position: absolute;
    margin-top: 30px;
    margin-left: 200px;
    font: small-caps bold 24px/1 sans-serif;
    font-weight: bolder;
    
}

.crazyriver {
    position: sticky;
    
    width: 130px;
    height: 85px;

    margin-top: 90px;
    margin-left: 35px;
    border-radius: 10px;
}

#circus {
    width: 130px;
    height: 50px;

    margin-left: 35px;
    margin-top: -20px;

    border-radius: 10px;
    background-color: #75d9d6;
}#circus1 {
    width: 130px;
    height: 50px;

    margin-left: 230px;
    margin-top: -15px;

    border-radius: 10px;
    background-color: #75d9d6; 
}#circus2 {
    width: 130px;
    height: 50px;

    margin-left: 425px;
    margin-top: -16px;

    border-radius: 10px;
    background-color: #75d9d6; 
}

.siteweb {
    position: absolute;
    
    font: small-caps bold 20px/1 sans-serif;

    margin-top: 20px;
    margin-left: 35px;
    text-decoration: none;
}

.pong {
    position: absolute;
    
    font: small-caps bold 20px/1 sans-serif;

    margin-top: 20px;
    margin-left: 40px;
    text-decoration: none;
}

.eurovision {
    position: absolute;
    
    font: small-caps bold 20px/1 sans-serif;

    margin-top: 20px;
    margin-left: 11px;
    text-decoration: none;
}

.png {
    position: sticky;
    display: flex;
    width: 130px;
    height: 85px;

    margin-top: -119px;
    margin-left: 230px;
    border-radius: 10px;
}

.vision {
    position: sticky;
    display: flex;
    width: 130px;
    height: 85px;

    margin-top: -119px;
    margin-left: 425px;
    border-radius: 10px;
}